body {
  background-color: white;
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

/*remember to find out that thing thAT AVOIDS class it was hover look it up when u have time. thanks smart ass. remember I am proud of you for carrying on.*/
/* https://colorhunt.co/palette/c4ddff7fb5ff001d6efee2c5*/
.Top_container {
  background-color: #E7DEC8;
  margin: 0px;
  width: auto;
  padding: 100px;
}

.Top_container:hover {
  background-color: #CBAF87;
}

.onehead {
  margin: 0px auto auto auto;
  font-family: 'sacramento', cursive;
  font-size: 5.6rem;
  color: #30475E;
}

.middle-container {
  ;
  margin: 0px;
  width: auto;
  background-color: #E7DEC8;
}

.profile:hover {
  background-color: #CBAF87;
}

.skills:hover {
  background-color: #CBAF87;
}

.bottom-container {
  background-color: #7E8A97;
  margin: 0px;
  width: auto;
  height: 125px;
  line-height: 2;

}

.footer-link {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.cloud {
  position: relative;
  left: 200px;
}

.programmer {
  dispaly: inline-block;
  margin: auto;
  font-family: sans-serif;
}

.intro {
  width: 40%;
  margin: auto;
}

.bcloud {
  position: absolute;
}

div{
  margin-bottom: auto;
}

.propic {
  width: 250px;
  height: 250px;
  padding-top: 10px;
  margin-left: auto;
}

.coding {
  width: 200px;
}

.problem {
  width: 200px;
}

h2 {
  font-size: 2.5rem;
  color: #30475E;
  font-weight: normal;
}

h1 {
  color: #30475E;
  line-height: 2;
}

h3 {
  color: #30475E;
}

a {
  color: #30475E;
}

.Skill-row {
  width: 50%;
  margin: 100px auto 59px auto;
  text-align: left;
  line-height: 2;
}

.coding {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 20px;
}

.problem {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 20px;
}

hr {
  width: 4%;
  border-width: 7px;
  border-style: none;
  border-top-style: dotted;
  color: #7E8A97;

}

.btn {
  background: #30475E;
  background-image: -webkit-linear-gradient(top, #30475E, #2980b9);
  background-image: -moz-linear-gradient(top, #30475E, #2980b9);
  background-image: -ms-linear-gradient(top, #30475E, #2980b9);
  background-image: -o-linear-gradient(top, #30475E, #2980b9);
  background-image: linear-gradient(to bottom, #30475E, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 0px 6px 1px #666666;
  font-family: Georgia;
  color: #CBAF87;
  font-size: 29px;
  padding: 6px 17px 1px 17px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-me:hover{
  background-color: #CBAF87;
}

.contact-me{
  padding-bottom: 16px;
  padding-top: 16px;
}
.profile{
  margin-bottom: 50px;
}
